[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notebook = "*"

[packages]
vadersentiment = "*"
tweepy = "*"
pandas = "*"
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
